@page "/Register"
@using P06Shop.Shared.Auth;
@using P06Shop.Shared.Services.AuthService;
@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.Components.Authorization;
@using P06Shop.Shared.Auth;
@using P06Shop.Shared.Services.AuthService;
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject ILanguageService LanguageService
@inject ILocalStorageService LocalStorageService
@if (selectedLanguage != null)
{
<h3>@LanguageService.GetLanguage(selectedLanguage, "RegisterTitle")</h3>

<EditForm Model="userRegisterDTO" OnValidSubmit="HandleRegistration">
    <p>@LanguageService.GetLanguage(selectedLanguage, "EmailLabel")</p>
    <InputText @bind-Value="userRegisterDTO.Email" id="email"></InputText>
    <p>@LanguageService.GetLanguage(selectedLanguage, "UsernameLabel")</p>
    <InputText @bind-Value="userRegisterDTO.Username" id="username"></InputText>
    <p>@LanguageService.GetLanguage(selectedLanguage, "PasswordLabel")</p>
    <InputText @bind-Value="userRegisterDTO.Password" id="password"></InputText>
    <p>@LanguageService.GetLanguage(selectedLanguage, "ConfirmPasswordLabel")</p>
    <InputText @bind-Value="userRegisterDTO.ConfirmPassword" id="confirmPassword"></InputText>
    <button type="submit">@LanguageService.GetLanguage(selectedLanguage, "RegisterButton")</button>
</EditForm>
}
<p style="color: red;">@message</p>

@code {
    private UserRegisterDTO userRegisterDTO = new UserRegisterDTO();
    private string message = string.Empty;
    private string selectedLanguage;

    protected override async Task OnInitializedAsync()
    {
        selectedLanguage = await LocalStorageService.GetItemAsync<string>("language") ?? "english";
    }

    private async Task HandleRegistration()
    {
        var result = await AuthService.Register(userRegisterDTO);
        if (result.Success)
        {
            NavigationManager.NavigateTo("Login");
        }
        else
        {
            message = result.Message;
        }
    }
}