@page "/settings"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Web.Extensions

@inject ILanguageService LanguageService
@inject IJSRuntime JSRuntime
@inject ILocalStorageService LocalStorage


@if (selectedLanguage != null)
{
<div class="container">
    <h3>@LanguageService.GetLanguage(selectedLanguage, "SettingsTitle")</h3>
    <p>@LanguageService.GetLanguage(selectedLanguage, "ChooseLanguageLabel"):</p>
    <select class="form-control" @bind="language">
        <option value="polish">@LanguageService.GetLanguage(selectedLanguage, "PolishOption")</option>
        <option value="english">@LanguageService.GetLanguage(selectedLanguage, "EnglishOption")</option>
    </select>
    <button class="btn btn-primary mt-3" @onclick="SaveLanguage">@LanguageService.GetLanguage(selectedLanguage, "SaveButton")</button>
</div>
}
@code {
    private string language;
    private string selectedLanguage;

    protected override async Task OnInitializedAsync()
    {
        selectedLanguage = await LocalStorage.GetItemAsync<string>("language") ?? "english";
        language = selectedLanguage;
    }

    private async Task SaveLanguage()
    {
        MainLayout.Language = language;
        await LocalStorage.SetItemAsync("language", MainLayout.Language);
        JSRuntime.InvokeVoidAsync("location.reload");
    }
}
